<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Desmadre Multiversal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div style="display: flex; flex-direction: column; gap: 20px; align-items: center;">
        
        <div style="background: white; padding: 15px; border-radius: 15px; width: 350px; text-align: center; box-shadow: 0 10px 30px rgba(0,0,0,.3);">
            <h1 style="color: #243b55; font-size: 24px; margin: 0;">Desmadre Multiversal</h1>
        </div>

        <form id="login-form" style="margin-top: 0;">
            <input type="email" id="email" placeholder="Correo">
            <input type="password" id="password" placeholder="Contraseña">
            <button type="button" id="btn-login">Iniciar sesión</button>
            
            <div class="mt-5 text-center">
                <p>¿Aún no eres cliente? <br><a href="{{ url_for('signup') }}" class="fw-medium text-primary"> ¡Regístrate! </a></p>
            </div>
        </form>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        window.Swal = window.Swal.mixin({
            heightAuto: false
        });
    </script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>