<!-- index.html -->
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Desmadre Multiversal</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <form id="login-form">
        <input type="nombre" id="nombre" placeholder="Nombre">
        <input type="email" id="email" placeholder="Correo">
        <input type="password" id="password" placeholder="Contraseña">
        <button type="button" id="btn-login">Entrar</button>
        <div class="mt-5 text-center">
        <p>¿Aún no eres cliente? <br><a href="{{ url_for('signup')}}" class="fw-medium text-primary"> Registrate! </a> </p>
        </div>
    </form>

    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>